$colorMain: #90d6f7;
$colorMainDark: #54aad2;

$colorSafe: #7bd98a;
$colorSafeDark: #50ac60;

$colorWarn: #e9d484;
$colorWarnDark: #d6bd57;

$colorDanger: #e27272;
$colorDangerLight: #fbe6e6;
$colorDangerDark: #c24242;

$colorGray: #f5f7f8;
$colorGrayDark: #c9ccce;

$sizeNorm: 30px;
$sizeDouble: calc($sizeNorm * 2);
$sizeQuad: calc($sizeNorm * 4);
$sizeHalf:calc($sizeNorm / 2);
$sizeTiny:calc($sizeNorm / 3);
